<div class="hero-unit">
  <fieldset>
    <legend>创建管理员</legend>
    <div class="control-group">
      <label class="control-label" for="user-login">用户名</label>
      <div class="controls">
        <input class="input-xlarge" id="user-login" name="user[username]" type="text">
        <p class="help-block">登录用的！20字以内。<span class="error"></span></p>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="user-email">邮箱</label>
      <div class="controls">
        <input class="input-xlarge" id="user-email" name="user[email]" type="text">
        <p class="help-block">找密码用的，一定要是真实的哦！<span class="error"></span></p>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="user-password">密码</label>
      <div class="controls">
        <input class="input-xlarge" id="user-password" name="user[password]" type="password">
        <p class="help-block">设置你的密码吧！<span class="error"></span></p>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="user-password-confirmation">确认密码</label>
      <div class="controls">
        <input class="input-xlarge" id="user-password-confirmation" name="user[password_confirmation]" type="password">
        <p class="help-block">再输入一次的密码吧！<span class="error"></span></p>
      </div>
    </div>
  </fieldset>
</div>