<script id="template-download" type="text/x-tmpl">
{% for (var i=0, file; file=o.files[i]; i++) { %}
  <li class="box template-download fade">
    <div href="javascript:void(0);" class="image-box">
      <div class="preview">
        {% if (file.thumbnail_url) { %}
          <img src="{%=file.thumbnail_url%}">
        {% } %}
        {% if (file.url) { %}
          <input id="photo_" name="photo" type="hidden" value="{%=file.url%}" />
        {% } %}
      </div>
      <span class="size">{%=o.formatFileSize(file.size)%}</span>
      <div class="action delete hide">
        <button class="danger" data-type="{%=file.delete_type%}" data-url="{%=file.delete_url%}">
          <i class="icon-trash icon-white icon-large"></i>
        </button>
      </div>
      {% if (file.error) { %}
        <div class="error">
          <span class="label label-important">
            {%=locale.fileupload.errors[file.error] || file.error%}
          </span>
        </div>
      {% } else { %}
        <div class="success">
          <i class="icon-ok"></i>
        </div>
      {% } %}
    </div>
    <span class="name">{%=file.name%}</span>
    <input type="checkbox" name="delete" value="1">
  </li>
{% } %}
</script>