<div class="container">
  <div class="content">
    <div class="row">
      <div id="main" class="span4 offset4">
        <div class="well white-bg">
          <%= bootstrap_flash %>
          <div class="well-inner">
            <%= yield %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>